<%= bootstrap_form_for @creature do |f| %>
    
    
    <p><%= f.text_field :name, icon: "pencil" %></p>
    <p><%= f.text_area :description, icon: "pencil" %></p>

    <%= f.submit %>
  </div>  
<% end %>  
